# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CBRI\Simple_CBIR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
